@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html, body {
	height: 100%;
}

body {
  margin: 0;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: rgb(44,47,51);
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

a {
	color: rgba(255,255,255,.8);
	text-decoration: none;
	transition: color .2s ease-in-out;
}
a:hover {
    color: rgb(255,255,255);
}
